$o-ads-is-silent: true !default;

@import "src/scss/base";
@import "o-visual-effects/main";
@import "o-colors/main";

@if($o-ads-is-silent == false) {

	@media print{
		.o-ads {
			display: none !important;
		}
	}

	.o-ads,
	[data-o-ads-name] {
		@include oAds();
	}

	.o-ads--center {
		@include oAdsCenter();
	}

	.o-ads--empty {
		@include oAdsEmpty();
	}

	.o-ads--label-left {
		@include oAdsLabel();
	}

	.o-ads--label-right {
		@include oAdsLabel("right");
	}

	.o-ads--transition {
		@include oAdsTransition();
	}

	.o-ads--label-with-borders {
		@include oAdsLabelWithBorders();
	}

	.o-ads--background {
		background-color: oColorsGetPaletteColor('black-20');
	}

	.o-ads--slate-background {
		background-color: oColorsGetPaletteColor('slate');
	}

	.o-ads--placeholder {
		background: url('https://www.ft.com/__origami/service/image/v2/images/raw/fticon:more?source=next&tint=999999,999999') 50%/25% no-repeat transparent;
	}

	.o-ads--reserve-90 {
		@include oAdsReserve90();
	}

	.o-ads--reserve-250 {
		@include oAdsReserve250();
	}

	.o-ads--reserve-90,
	.o-ads--reserve-250 {
		@include oAdsResponsiveReserve();
	}

	$o-ads-is-silent: true !global;
}
