<h1>Fluid</h1>
<script data-o-ads-config="" type="application/json">
	{
		"gpt": {
			"network": "5887",
			"site": "test.5887.origami",
		},
	  "formats": {
			"Advertorial": {
				"sizes": "fluid"
			}
		}
	}
</script>
<script type="application/javascript">
	if (oAds) {
		oAds.init();
	}
</script>

<div class="o-ads"></div>
