<h1>Fluid</h1>
<script data-o-ads-config="" type="application/json">
	{
			"gpt": {
				"network": "7049",
				"site": "NikkeiEnglish",
				"zone": null
		},
		"collapseEmpty": "before",
		"responsive": {
				"large": [1025, 0],
				"small": [0, 0]
		},
		"formats": {
				"300*250": {
						"sizes": [[300, 600],[300, 250]]
				},
				"728*90": {
						"sizes": [[728,90]]
				},
				"330*55": {
						"sizes": [[330, 55]]
				},
				"300*55": {
						"sizes": [[300, 55]]
				},
				"InBoard": {
						"sizes": [[1, 1]],
						"outOfPage": true
				},
				"Advertorial": {
						"sizes": "fluid"
				},
				"InRead": {
						"sizes": [[1, 1]],
						"outOfPage": true
				}
		},
		"lazyLoad": true
	}
</script>
<script type="application/javascript">
	if (oAds) {
		oAds.init();
	}
</script>

<div class="o-ads ad-card ad-card--double" data-o-ads-gpt-unit-name="7049/NikkeiFT_PC_Upper_Medium_rectangle" data-o-ads-formats-large="300*250" data-o-ads-formats-small="MediumRectangle"></div>
<div class="o-ads" data-o-ads-gpt-unit-name="7049/NikkeiFT_PC_Advertorial_1" data-o-ads-name="NikkeiFT_PC_Advertorial_1" data-o-ads-formats="Advertorial" data-o-ads-lazy-load="false"></div></div><div class="slot--advertorial"><div class="o-ads" data-o-ads-gpt-unit-name="7049/NikkeiFT_PC_Advertorial_2" data-o-ads-name="NikkeiFT_PC_Advertorial_2" data-o-ads-formats="Advertorial" data-o-ads-lazy-load="false"></div></div><div class="slot--advertorial"><div class="o-ads" data-o-ads-gpt-unit-name="7049/NikkeiFT_PC_Advertorial_3" data-o-ads-name="NikkeiFT_PC_Advertorial_3" data-o-ads-formats="Advertorial" data-o-ads-lazy-load="false"></div></div><div class="slot--advertorial"><div class="o-ads" data-o-ads-gpt-unit-name="7049/NikkeiFT_PC_Advertorial_4" data-o-ads-name="NikkeiFT_PC_Advertorial_4" data-o-ads-formats="Advertorial" data-o-ads-lazy-load="false"></div></div><div class="slot--advertorial"><div class="o-ads" data-o-ads-gpt-unit-name="7049/NikkeiFT_PC_Advertorial_5" data-o-ads-name="NikkeiFT_PC_Advertorial_5" data-o-ads-formats="Advertorial" data-o-ads-lazy-load="false"></div>
