<!DOCTYPE html>
<html>
	<head>
		<title>{{title}}</title>
		<link rel='stylesheet' href='/stylesheets/style.css' />
		<script src="/o-ads-compiled.js"></script>
	</head>
	<body>
		<p>
		{{#unless home}}
			<a href='/'>Back to Demo List</a>
		{{/unless}}
			<a href="https://financial-times.github.io/o-ads/">Origami docs</a>
		</p>
		{{{body}}}
	</body>
</html>
