version: 2
jobs:
  test:
    docker:
      - image: circleci/node:10-browsers
    steps:
      - checkout
      - run: npm config set prefix "$HOME/.local"
      - run: npm i -g origami-build-tools@^8
      - run: $HOME/.local/bin/obt install
      - run: $HOME/.local/bin/obt build
      - run: $HOME/.local/bin/obt verify
      - run: npm run checksizes
      # `obt test` doesn't work because of custom karma config, so we run:
      - run: npm run test-unit
      - run: wget https://www.browserstack.com/browserstack-local/BrowserStackLocal-linux-x64.zip && unzip ./BrowserStackLocal-linux-x64.zip
      - run:
          command: npm run demo-server
          background: true
      - run: npm run test-cy:run
      - run:
          command: ./BrowserStackLocal --key=$BROWSERSTACK_KEY
          background: true
      - run: sleep 5 && wget -qO- --retry-connrefused --no-check-certificate -T 60 http://localhost:3002
      - run: npm run test-nw
      - store_artifacts:
          path: test/cypress/videos
      - store_artifacts:
          path: test/cypress/screenshots

      # We need to delete bower stuff and check that the package works on npm only
      - run: rm -rf bower_components
      - run: npx occ 0.0.0
      - run: $HOME/.local/bin/obt install --ignore-bower
      - run: npm run test-unit
  publish_to_npm:
    docker:
      - image: circleci/node:10
    steps:
      - checkout
      - run: npx occ ${CIRCLE_TAG##v}
      - run: echo "//registry.npmjs.org/:_authToken=$NPM_TOKEN" > $HOME/.npmrc
      - run: npm install
      - run: npx snyk monitor --org=financial-times --project-name=Financial-Times/o-ads
      - run: npm publish --access public

workflows:
  version: 2
  test:
    jobs:
      - test
      - publish_to_npm:
          filters:
            tags:
              only: /^v.*/
            branches:
              ignore: /.*/
