$o-ads-is-silent: false;
@import "../../main";

.story {
	box-sizing: border-box;
	font-size: 24px;
	width: 48%;
	margin: 1%;
	padding: 10px;
	float: left;
	background-color: #ee0000;
}

.header {
	height: 90px;
	text-align: center;
}

.navbar {
	height: 25px;
	text-align: center;
}

.article-title {
	margin-left: 170px;
	width: 580px;
	font-size: 36px;
	line-height: 40px;
	margin-top: 50px;
	font-family: serif;
}

.article-blurb {
	margin-left: 170px;
	width: 580px;
	font-size: 20px; 
	margin-top: 10px;
	font-family: sans-serif;
}
