@import "../../main";



//sticky styles

#sticky {
	width: 100%;
	margin: 1em 3em;
	header{
		width: 55%;
	}

	article {
		display: inline-block;
		width: 55%;
		padding-right: 1em;
	}

	aside {
		display: inline-block;
		width: 40%;
		margin-top: 20em;
		vertical-align: top;
	}
}
