<script>
var ads = require('../../main.js').init({
    dfp_site: 'test.5887.origami',
    eid: 'oads',
    formats: {
       leaderboardOop: {
          sizes: [[970,90]],
          outOfPage: true
       }
    }
});
ads.slots.initSlot('leaderboardOop');
</script>

<div id="{{pos}}" class="advertising {{classes}}" {{{o-ads-data-attr}}}></div>
