<script data-o-ads-config type="application/json">
	{
		"gpt": {
			"network": {{network}},
			"site": "{{site}}"
		}
	}
</script>

<div data-o-ads-name="Leaderboard" data-o-ads-formats="Leaderboard"></div>
