<script data-o-ads-config type="application/json">{"dfp_site" : "{{dfp-site}}", "dfp_targeting" : "auuid=articleid"}</script>
<div data-o-ads-name="Leaderboard" data-o-ads-targeting="pos=leaderboard" data-o-ads-formats="Leaderboard" class="o-ads o-ads-slot {{classes}}" >    
</div>
