<script data-o-ads-config type="application/json">
	{
		"gpt": {
			"network": {{network}},
			"site": "{{site}}"
		},
		"lazyLoad": {
			"viewportMargin": "{{viewportMargin}}"
		}
	}
</script>

<div data-o-ads-name="{{name}}" data-o-ads-formats="{{formats}}" style="position:absolute; width:970px; height: 90px; top: {{top}}px;"></div>
