<script data-o-ads-config type="application/json">
	{
		"gpt": {
			"network": {{network}},
			"site": "{{site}}"
		},
		"responsive": {
			"extra": [1025, 0],
			"large": [1000, 0],
			"medium": [760, 0],
			"small": [0, 0]
		}
	}
</script>

<div data-o-ads-name="{{name}}" data-o-ads-formats="{{formats}}"></div>
