<script data-o-ads-config type="application/json">
	{
		"gpt": {
			"network": {{network}},
			"site": "{{site}}"
		},
		"dfp_targeting": {
			"pos": "top"
		}
	}
</script>

<div data-o-ads-name="SuperLeaderboard" data-o-ads-formats="SuperLeaderboard"></div>
