<script data-o-ads-config type="application/json">{"dfp_site" : "{{dfp-site}}"}</script>
<div data-o-ads-name="{{pos}}" data-o-ads-targeting="pos=halfpage" data-o-ads-formats="{{formats}}" data-o-ads-out-of-page="true" class="o-ads o-ads-slot {{classes}}" >    
</div>