<script data-o-ads-config type="application/json">{"dfp_site" : "{{dfp-site}}"}</script>
<div data-o-ads-name="{{pos}}" data-o-ads-targeting="{{targeting}}" data-o-ads-formats="{{formats}}" class="o-ads o-ads-slot {{classes}}" >
</div>
