<script data-o-ads-config type="application/json">
	{
		"gpt": {
			"network": {{network}},
			"site": "{{site}}",
			"zone": "{{zone}}"
		}
	}
</script>

<div data-o-ads-name="leaderboard" data-o-ads-targeting="pos=advert1" data-o-ads-formats="Leaderboard">
</div>
<div data-o-ads-name="rectangle" data-o-ads-targeting="pos=advert2" data-o-ads-formats="MediumRectangle">
</div>

