<div>
    Advert 1 (Master)
    <div id="ad1" class="advertising {{classes}}" {{{o-ads-data-attr}}}></div>
</div>

<div>
    Advert 2 (Companion)
    <div id="ad2" class="advertising {{classes}}" {{{o-ads-data-attr}}}></div>
</div>
