<div 
	data-o-ads-name="top" 
	data-o-ads-targeting="pos=top;" 
	data-o-ads-center="true" 
	data-o-ads-formats-default="Billboard" 
	data-o-ads-formats-small="Billboard" 
	data-o-ads-formats-medium="Leaderboard,Responsive" 
	data-o-ads-formats-large="SuperLeaderboard,Leaderboard,Responsive" 
	data-o-ads-formats-extra="Billboard,SuperLeaderboard,Leaderboard,Responsive" 
	data-sticky-ad="true" aria-hidden="true" data-o-ads-loaded="Billboard">
		<div class="o-ads__outer">
			<div class="o-ads__inner">
				<div style="border: 0pt none;">
					<iframe title="Advertisement" src="http://localhost:8999/demos/local/Local-Creative-Wrapper.html" width="300" height="300">
					</iframe>
				</div>
			</div>
		</div>
	</div>

<div 
	data-o-ads-name="mid" 
	data-o-ads-targeting="pos=mid;" 
	data-o-ads-center="true" 
	data-o-ads-formats-default="Billboard" 
	data-o-ads-formats-small="Billboard" 
	data-o-ads-formats-medium="Leaderboard,Responsive" 
	data-o-ads-formats-large="SuperLeaderboard,Leaderboard,Responsive" 
	data-o-ads-formats-extra="Billboard,SuperLeaderboard,Leaderboard,Responsive" 
	data-sticky-ad="true" aria-hidden="true" data-o-ads-loaded="Billboard">
		<div class="o-ads__outer">
			<div class="o-ads__inner">
				<div style="border: 0pt none;">
					<iframe title="Advertisement" src="http://localhost:8999/demos/local/Local-Creative-Wrapper-With-Collapse.html" width="300" height="300">
					</iframe>
				</div>
			</div>
		</div>
	</div>