<span class="o-registry-demo-chunk">

<!-- include the o-ads origami module - can use require instead -->
<script src="/bundles/js?modules=o-ads"></script>

    <!-- ######## AD PLACEMENTS ###########-->
    <div id="responsiveBlock">
        <div id="resposiveSlots">
            On a wide screen format two ads will show. On the thin (e.g. phone) aspect only one will show.
            <div id="responsivePos1" class="advertising {{classes}}" {{{o-ads-data-attr}}}></div>
            <div id="responsivePos2" class="advertising {{classes}}" {{{o-ads-data-attr}}}></div>
        </div>
        <div id="responsiveAdvert">
            This ad will reflow depending on screen size. <br />
            Note: This is a specially produced format and as such volume sales may be difficult.
            <div id="responsiveAd" class="advertising {{classes}}" {{{o-ads-data-attr}}}></div>
        </div>
    </div

    <!-- ######## AD CONFIGURATION ###########-->
    <script>
    // initialise the configuration for o-ads with a leaderboard
    var ads = Origami["o-ads"].init({
        dfp_site: 'test.5887.origami',
        responsive: {
            large: [400, 0],
            small: [0, 0]
        },
        formats: {
            responsivePos1: {
                sizes: {
                    large: [[300, 600]],
                    small: [[300, 600]]
                }
            },
            responsivePos2: {
                sizes: {
                 large: [[728,90]],
                 small: false
                }
            },
            responsiveAd: {
                sizes: [[2,2]]
            }
        }
    });

    ads.slots.initSlot('responsivePos1');
    ads.slots.initSlot('responsivePos2');
    ads.slots.initSlot('responsiveAd');
    </script>

</span>