<script data-o-ads-config type="application/json">
{
	"gpt": {
		"network": {{network}},
		"site": "{{site}}"
	},
	"responsive": {
		"large": [599, 0],
		"small": [0, 0]
	},
	"slots": {
		"responsive-1": {
			"sizes": {
				"large": [[728, 90]],
				"small": false
			}
		}
	}
}
</script>
<div data-o-ads-name="responsive-1"></div>
<div data-o-ads-name="responsive-2" data-o-ads-formats-large="HalfPage"  data-o-ads-formats-small="MediumRectangle"></div>
