<script data-o-ads-config type="application/json">
	{
		"gpt": {
			"network": {{network}},
			"site": "{{site}}",
			"rendering": "sra"
		}
	}
</script>

<!-- 6 viewport tall div to place next slot 6 viewports away. -->
<div style="height:600vh"></div>
<div id="div-1">
  <div id="example-ad-1" data-o-ads-name="{{name}}" data-o-ads-formats="{{formats}}"></div>
</div>

<!-- 3 viewport tall div to place next slot 9 viewports away. -->
<div style="height:300vh"></div>
<div id="div-2">
	<div id="example-ad-2" data-o-ads-name="mid" data-o-ads-targeting="pos=mid" data-o-ads-formats="MediumRectangle"></div>
</div>

<!-- 6 viewport tall div to place next slot 15 viewports away. -->
<div style="height:600vh"></div>
<div id="div-3">
	<div id="example-ad-3" data-o-ads-name="bill" data-o-ads-targeting="pos=mid" data-o-ads-formats="Billboard"></div>
</div>

