<script data-o-ads-config type="application/json">
	{
		"gpt": {
			"network": {{network}},
			"site": "{{site}}"
		},
		"dfp_targeting": {
			"testparam": "hello"
		}
	}
</script>
<div data-o-ads-name="test-slot" 
	data-o-ads-formats="MediumRectangle,Rectangle,WideSkyscraper,Leaderboard,SuperLeaderboard,HalfPage,Billboard,Portrait,AdhesionBanner,MicroBar,Button2,Responsive"
	data-o-ads-targeting="pos=top;"></div>
