<script data-o-ads-config type="application/json">
	{
		"targetingApi": {
			"user": "{{{user}}}",
			"page": "{{{page}}}"
    },
    "validateAdsTraffic": "{{{validateAdsTrafficApi}}}",
		"gpt": {
			"network": {{network}},
			"site": "{{site}}"
		},
		"dfp_targeting": {
			"pos": "top"
		},
    "krux": {
      "id": "KHUSeE3x"
    }
	}
</script>

<div class="{{class}}" data-o-ads-name="{{name}}" data-o-ads-formats="{{format}}"></div>
<div class="header"><span style="line-height: 100px">header</span></div>
<hr size='1' color='#999' noshade>
<div class="navbar"><span style="line-height: 25px">navbar</span></div>
<hr size='1' color='#999' noshade>
<div class="article-title">Apple's UK price rises blamed on Brexit currency shift</div>
<div class="article-blurb">Buying products in the US cheaper after sharp drop in sterling</div>
