
<span class="o-registry-demo-chunk">
<link href="//vjs.zencdn.net/4.5/video-js.css" rel="stylesheet">
<link rel="stylesheet" href="/bundles/js?modules=o-ads:/demos/src/videojs.ads.css"/>
<link rel="stylesheet" href="/bundles/js?modules=o-ads:/demos/src/videojs.ima.css"/>

<video id="content_video" class="video-js vjs-default-skin"
       controls preload="auto" width="640"
       height="360">
    <source src="src/BucksBunnyShort.mp4" type="video/mp4"></source>
</video>

<div id="credits"> Sample video credits (c) copyright 2008, Blender Foundation / www.bigbuckbunny.org</div>

<!-- Load dependent scripts -->
<script src="//vjs.zencdn.net/4.5/video.js"></script>
<script src="//imasdk.googleapis.com/js/sdkloader/ima3.js"></script>

<script src="/bundles/js?modules=o-ads:/demos/src/videojs.ads.js"></script>
<script src="/bundles/js?modules=o-ads:/demos/src/videojs.ima.js"></script>
</span>