#banlb {
    height: 100px;
    width: 300px;
    background-color: pink;
    border: 1px solid black;
}

#mpu {
    height: 200px;
    width: 300px;
    background-color: blue;
    border: 1px solid black;
}

#banlb-not {
    height: 100px;
    width: 300px;
    background-color: pink;
    border: 1px solid black;
}

#mpu-not {
    height: 200px;
    width: 300px;
    background-color: blue;
    border: 1px solid black;
}

a img {
    border: none;
}

div {
    border: 1px solid black;
}

.advertising {
    border: 1px solid red;
}

.tempAds {
    display: none;
}

.warning {
    background-color: red;
}

#feedback {
    border: none;
}

#xpopad {
    display: none;
}
