#banlb {
    height: 100px;
    width: 300px;
    background-color: pink;
    border: 1px solid black;
}

#mpu {
    height: 200px;
    width: 300px;
    background-color: blue;
    border: 1px solid black;
}

#banlb-not {
    height: 100px;
    width: 300px;
    background-color: pink;
    border: 1px solid black;
}

#mpu-not {
    height: 200px;
    width: 300px;
    background-color: blue;
    border: 1px solid black;
}

a img {
    border: none;
}

div {
    border: 1px solid black;
}

.advertising {
    border: 1px solid red;
}

.tempAds {
    display: none;
}

.warning {
    background-color: red;
}

#feedback {
    border: none;
}

#xpopad {
    display: none;
}

#mode {
    margin: 0;
    padding: 0.4em 0 0.4em 1.5em;
    background-color: hsl(201, 61%, 43%);
    color: white;
    text-shadow: hsla(0, 0%, 0%, 0.5) 2px 2px 1px;
    font-size: 1.3em;
}

#mode.integration {
    background-color: #593C96;
}

#mode.unit {
    background-color: #AEA6CB;
}
