.advertising.center {
    width:100%;
    text-align:center;
}

/* remove this rule if transitions are added to all slots */
.advertising.empty {
    width: 0;
    height: 0;
    display: none;
    visibility: hidden;
}

/*
* remove background from iframes
*/
.advertising iframe {
    background: none transparent;
}




