@import "o-grid/main";
@import "o-visual-effects/main";

$ad-max-responsive-width: 1440px;

@mixin oAds {
	animation-name: none;
	//remove background from iframes.
	iframe {
		background: none transparent;
	}
}

@mixin oAdsCenter {
	width: 100%;
	text-align: center;
}

@mixin oAdsEmpty {
	width: 0;
	height: 0;
	display: none;
	visibility: hidden;
}

@mixin oAdsLabel($pos: "left") {
	.o-ads__inner::before {
		content: "▼ Advertisement ▼";
		display: block;
		font-size: 14px;
		@if($pos == right) {
			text-align: right;
		}
	}
}

@mixin oAdsReserve90 {
	min-height: 90px;
	height: 90px;
	padding: 10px 0;
	overflow: hidden;

	&[data-o-ads-loaded="MediumRectangle"],
	&[data-o-ads-loaded="Billboard"] {
		height: 250px;
	}
}

@mixin oAdsReserve250 {
	height: 250px;
	min-height: 250px;
	padding: 10px 0;
	overflow: hidden;

	&[data-o-ads-loaded="Leaderboard"],
	&[data-o-ads-loaded="SuperLeaderboard"] {
			.o-ads__outer {
				position: relative;
				top: 100%;
				margin-top: -90px;
			}
	}
}

@mixin oAdsResponsiveReserve {
		&[data-o-ads-loaded="Responsive"] {
			height: 250px;
			min-height: 250px;
			padding: 10px 0;
			@include oGridRespondTo($until: $ad-max-responsive-width) {
				height: auto;
				min-height: calc(100vw * 0.1734);
				padding: 0;
			}
			@include oGridRespondTo($until: S) {
				height: auto;
				min-height: calc(100vw * 0.481);
			}
		}
}

@mixin oAdsTransition {
	will-change: min-height, padding, height;
	transform: translate3d(0, 0, 0);
	transition: height 0.35s $o-visual-effects-transition-expand,
							min-height 0.35s $o-visual-effects-transition-expand,
							padding 0.35s $o-visual-effects-transition-expand;
}
