.advertising.center {
    width:100%;
    text-align:center;
}

.advertising.empty {
    width: 0;
    height: 0;
    display: none;
    visibility: hidden;
}

/**
* Remove margin from old absolutely positioned banlb slot
* This should be cleaned up once GPT is release in full.
*/
.topSection #header {
    margin-top: 0px;
    padding-top: 0px;
}
#bannerAdvertContainer {
    padding-bottom: 11px;
}
