.introAd { position:absolute ; top:-1px ; }

.advertising { clear:left ; }
.tempAds { display:none ; }

/* TOP ADS */
#banlb    { float:left ; margin:0 0 5px 0 ; width:728px ; height:90px ; text-align:center ; }
#newssubs { float:right ; clear:none ;  width:239px ; display:none; /* Purposefully set this to display:none because the ad request is only made from the banlb ad so the div won't collapse by itself */}
#searchbox { width:200px ; height:28px ;  z-index:0 ; overflow:hidden ; }

/* RAIL ADS */
#tlbxrib, #tlbxrib2, #tlbxrib3 { margin:0 ; padding:0 5px 5px 8px ; min-height:60px ; background-color:#fff1e0 ; }
#mpu, #mpu2, #mpu3,
#hlfmpu, #hlfmpu2, #hlfmpu3   { margin:0 0 32px 0 ; width:352px ; min-height:250px ; text-align:center ; }
/* To align the expanding Ads in right rails */
#mpu table,#mpu2 table,#mpu3 table,#hlfmpu table,#hlfmpu2 table,#hlfmpu3 table { display:block ; margin-left:auto ; margin-right:auto ; padding:0px ; }

/* MARKETS DATA (WSOD) AD WITH "Sponsored by" LABEL */
#mktsdata { clear:both ; position:relative ; margin:-20px 10px 32px 0 ; height:33px ; overflow:hidden ; }
#mktsdata a { position:absolute ; top:0 ; right:0 ; }
#mktsdata .sponsor { display:block ; width:245px ; font-size: 11px; line-height:31px ; text-align:right ; }

/* INTRO/ROADBLOCK ADS */
#fullpage-container { width:998px; }

/* CASE (corporate popup) */
#oob {position:absolute;top:0;left:50%;margin-left:-486px;width:972px;}
.corpSignPopad { top:20px !important; left:28px !important;}