.advertising.center {
    width:100%;
    text-align:center;
}

<<<<<<< Updated upstream

=======
>>>>>>> Stashed changes
/* remove this rule if transitions are added to all slots */
.advertising.empty {
    width: 0;
    height: 0;
    display: none;
    visibility: hidden;
}

/* Uncomment this selector to add transitions to all slots, delete #banlbGPT selector too
.advertising.empty
*/
 .advertising.empty#banlbGPT{
    height: 0px;
    display: block; /* remove this rule if  transitions are added to all slots */
    overflow: hidden;
    transition: height 250ms ease;
    -moz-transition: height 250ms ease;
    -webkit-transition: height 250ms ease;
    -o-transition: height 250ms ease;
    visibility: hidden;
}

/*
* remove background from iframes in IE8
*/
.advertising iframe {
    background: none transparent;

}

/* Uncomment these selectors to add transitions to all slots
.advertising.empty#tlbxrib, .advertising.empty#tlbxrib2, .advertising.empty#tlbxrib3,
.advertising.empty#mpu, .advertising.empty#mpu2, .advertising.empty#mpu3,
.advertising.empty#hlfmpu, .advertising.empty#hlfmpu2, .advertising.empty#hlfmpu3,*/
.advertising.empty#banlbGPT {
    min-height: 0px;
    transition: min-height 250ms ease;
    -moz-transition: min-height 250ms ease;
    -webkit-transition: min-height 250ms ease;
    -o-transition: min-height 250ms ease;
}

/**
* Remove margin from old absolutely positioned banlb slot
* This should be cleaned up once GPT is release in full.
*/
.topSection #header {
    margin-top: 0px;
    padding-top: 0px;
}

/*
* Implement new header styles during switch over
* This should be cleaned up once GPT is release in full.
*/
.topSection #header.headerGPT {
    padding-top: 10px;
}

.headerGPT #bannerAdvertContainer {
    padding-bottom: 0;
}

#bannerAdvertContainer {
    padding-bottom: 11px;
}

/* RAIL ADS */
#tlbxrib, #tlbxrib2, #tlbxrib3 { margin:0 ; padding:0 5px 5px 0; min-height:60px ; background-color:#fff1e0 ; }
.msie #tlbxrib  { height:60px ; }

#mpu, #mpu2, #mpu3,
#hlfmpu, #hlfmpu2, #hlfmpu3   { margin:0 0 32px 0 ; width:352px ; min-height:250px ; text-align:center ; }

#mpu *, #mpu2 *, #mpu3 *,
#hlfmpu *, #hlfmpu2 *, #hlfmpu3 * {
    margin: 0 auto;
}

.msie6 #hlfmpu { height:250px ; }

/* To align the expanding Ads in right rails */
#mpu table,#mpu2 table,#mpu3 table,#hlfmpu table,#hlfmpu2 table,#hlfmpu3 table { display:block ; margin-left:auto ; margin-right:auto ; padding:0px ; }

.no-banlbGPT div.topSection #header {
    margin-top: 8px;
}
.msie .no-banlbGPT div.topAds { display:none ; } /* Fix for non-clickable header contents in IE6 when banlb collapses */

#banlbGPT {font-size: 0; line-height: 0;min-height: 91px; white-space: pre;margin-top:3px;}
#tlbxrib-gpt iframe[id^='google_ads_iframe_/5887/ftcom.5887.markets-data/equity-and-investment-tearsheets']:first-child {height:66px!important}

